@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");

body {
  font-family: "Roboto Condesed" sans-serif;
  overflow-x: hidden;
}

.App {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.seeMorePostsButton {
  border: none;
  padding: 0.4375rem;
  background-color: white;
  color: red;
  font-size: 1.2rem;
  margin-left: 25%;
}

#activeFriends {
  margin-top: 4.7rem;
  float: right;
  left: 2%;
}

.middle {
  left: 30.75%;
  z-index: 100;
}

#leftCol {
  margin-top: 9%;
  letter-spacing: 0.0375rem;
  z-index: 1;
  position: fixed;
}

#leftColChat {
  display: flex;
  cursor: pointer;
}

#leftColGroups {
  display: flex;
  cursor: pointer;
}

#leftColEvents {
  display: flex;
  cursor: pointer;
}

.chatIcon {
  color: royalblue;
  margin-right: 1rem;
}

.groupIcon {
  color: royalblue;
  margin-right: 1rem;
}

.eventIcon {
  color: royalblue;
  margin-right: 1rem;
}

@media (max-width: 768px) {
  .seeMorePostsButton {
    margin-left: 0;
  }

  #activeFriends {
    position: relative;
    float: left;
    display: none;
  }

  .middle {
    left: 0;
  }

  #leftCol {
    position: relative;
    margin-top: 17%;
    margin-bottom: -11%;
    display: flex;
    letter-spacing: 0.0375rem;
    margin-left: 4rem;
    z-index: 2;
  }

  #leftColChat {
    cursor: pointer;
  }

  #leftColGroups {
    margin-left: 2rem;
    cursor: pointer;
  }

  #leftColEvents {
    margin-left: 2rem;
    cursor: pointer;
  }

  .chatIcon {
    margin-right: 0.5rem;
  }

  .groupIcon {
    margin-right: 0.5rem;
  }

  .eventIcon {
    margin-right: 0.5rem;
  }
}
